@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Audio;
@using System;
@inherits PanelComponent

<root class="menu">
	<div class="title">Shoot or Don't Shoot</div>

	<div class="container">
		<div class="buttons">
			<div class="button-bg">
				<div class="button green" onclick="@(() => ButtonPlay())">Play</div>
				<div class="button yellow" onclick="@(() => ButtonStats())">Stats</div>
				<div class="button blue" onclick="@(() => ButtonLeaderboards())">Leaderboards</div>
				<div class="button brown" onclick="@(() => ButtonHowToPlay())">How to play</div>
				<div class="button red" onclick="@(() => Quit())">Quit</div>
			</div>
		</div>
		<div class="content">
			<!--<div class="input">
				<InputGlyph button="Shoot" />
				<label>Shoot</label>
			</div>
			<div class="input">
				<InputGlyph button="Spare" />
				<label>Spare</label>
			</div>
			<div class="input">
				<InputGlyph button="Select" />
				<label>Select</label>
			</div>
			<div class="input">
				<InputGlyph button="Back" />
				<label>Back</label>
			</div>
			<div class="input">
				<InputGlyph button="Restart" />
				<label>Restart</label>
			</div>
			<div class="input">
				<InputGlyph button="Quit" />
				<label>Quit</label>
			</div>-->
			<!-- Nothing here right now... -->
		</div>
	</div>
</root>

@code
{
	void ButtonPlay()
	{
		// Other gamemodes have been dropped
		//MainMenu.instance.SetMenuState(MenuState.GameMode);

		MainMenu.instance.SetMenuState(MenuState.LevelSelect);
		var soundHandle = Sound.Play("ui.button.press");
		soundHandle.TargetMixer = Mixer.FindMixerByName("UI");
	}

	void ButtonStats()
	{
		MainMenu.instance.SetMenuState(MenuState.Stats);
		var soundHandle = Sound.Play("ui.button.press");
		soundHandle.TargetMixer = Mixer.FindMixerByName("UI");
	}

	void ButtonLeaderboards()
	{
		MainMenu.instance.SetMenuState(MenuState.Leaderboards);
		var soundHandle = Sound.Play("ui.button.press");
		soundHandle.TargetMixer = Mixer.FindMixerByName("UI");
	}

	/*void ButtonSettings()
	{
		MainMenu.instance.SetMenuState(MenuState.Settings);
		var soundHandle = Sound.Play("ui.button.press");
		soundHandle.TargetMixer = Mixer.FindMixerByName("UI");
	}*/

	void ButtonHowToPlay()
	{
		MainMenu.instance.SetMenuState(MenuState.HowToPlay);
		var soundHandle = Sound.Play("ui.button.press");
		soundHandle.TargetMixer = Mixer.FindMixerByName("UI");
	}

	void Quit()
	{
		if (Game.IsEditor)
		{
			Log.Info("Quit");
		}
		else
		{
			Game.Close();
		}
	}

	/// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}
